<!DOCTYPE html>
<html ng-app="dacsite">
<head>
  <%= yield :head %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script src="//connect.soundcloud.com/sdk.js"></script>
	<%= csrf_meta_tags %>
	<meta name="fragment" content="!" />
</head>
<body>
	<div class="main-container" ng-controller="AppCtrl">
	<div class="filler"></div>
	<div class="header-container">
		<div class="site-header">
			<div class="logo-text"><img src="<%= image_path "dac-logo-text.png" %>"></div>
			<div class="user-nav" ng-controller="UserNavCtrl">
    		<span ng-show="signedIn">
					Signed in as {{currentUser.username}}. Not you?
				<span ng-click="logout()">Logout</span>
			</span>
			<span ng-hide="signedIn">
				<a href="/register">Sign Up</a> or <a href="/login">Sign In</a>
			</span>
		</div>
	</div>
	<div class="player-header">
		<span class="player-controls">
			<span class="h-skipBack-btn" ng-click="skipBack()">Skip Back</span>
			<span class="h-play-btn" ng-click="playPause()">Play</span>	
			<span class="h-skipFwd-btn" ng-click="skipFwd()"> Skip Fwd</span>
		</span>
	</div>
	</div>
	<div class="logo"><img src="<%= image_path "dac-logo.png" %>"></div>
	<!--<dac-playlist></dac-playlist> -->
	<%= yield %>
	</div>
</body>
</html>
