<!DOCTYPE html>
<html ng-app="dacsite">
<head>
  <%= yield :head %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="//connect.soundcloud.com/sdk.js"></script>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="main-container" ng-controller="AppCtrl">
	<div class="site-header">
		<div class="logo">Digital Artists Collective</div><span ng-click="checkUser()">check</span>
		<div class="user-nav" ng-controller="SessionCtrl">
    	<span ng-show="signedIn">
				Signed in as {{currentUser.username}}. Not you?
				<span ng-click="destroy()">Sign Out</span>
			</span>
			<span ng-hide="signedIn">
				<a href="/register">Sign Up</a> or <a href="/login">Sign In</a>
			</span>
		</div>
	</div>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
	</div>
<script>
	$(function() {
		SC.initialize({
  		client_id: 'f116577ada558b6ab3ddc756e60cbc71'
		});

		SC.stream("/tracks/293", function(sound){
  		sound.play();
		});
	});
</script>
</body>
</html>
